# 03 판다스 시리즈

In [ ]:
## 01) 시리즈(Series) 소개

In [ ]:
# pandas 설치
!pip install pandas

##  02) 시리즈 생성

### 시리즈 생성

In [ ]:
import pandas as pd

data = [10,20,30]
s = pd.Series(data)
print(s)

In [ ]:
import pandas as pd
import numpy as np

data = np.arange(5)
s = pd.Series(data)
print(s)

In [ ]:
# 시리즈에는 수치형 데이터 뿐만아니라 문자열 데이터도 저장
data = ['시가', '고가']
s = pd.Series(data)
s

In [ ]:
s = pd.Series(['samsung', 80000])
s

## 03) 시리즈 인덱스

### 시리즈 인덱스

In [ ]:
import pandas as pd
data = [1000, 2000, 3000]
s = pd.Series(data)
print(s)
print(s.index)
print(s.index.to_list())

In [ ]:
# Series 인덱스 변경

data = [1000, 2000, 3000]
s = pd.Series(data)
print(s)
print(s.index)
print(s.index.to_list())

s.index = ['메로나','구구콘','하겐다즈']
print(s)

In [ ]:
data = [1000, 2000, 3000]
index = ['메로나','구구콘','하겐다즈']

s = pd.Series(data, index)
# s = pd.Series(data, index=index)
print(s)

In [ ]:
# reindex 메서드를 사용하면 인자로 전달한 새로운 값으로 맞춰 인덱스를 변경.
# 이때 기존에 인덱스는 기존값을 그대로 사용하고, 새로운 인덱스는 NaN 값을 채움.
# 
data = [1000, 2000, 3000]
index = ['메로나','구구콘','하겐다즈']
s = pd.Series(data=data, index=index)

s2 = s.reindex(['메로나','비비빅','구구콘']) # reindex
s2

In [ ]:
# fillna() 사용
print(s2.fillna(0)) # s2의 값을 변경시키지 않음
print(s2)

In [ ]:
# reindex 메서드를 사용할 때 fill_value 파라미터를 사용해서 한 번에 처리할 수도 있습니다.
s2 = s.reindex(['메로나','비비빅','구구콘'], fill_value = 0) # reindex
s2

In [ ]:
# 삼성전자 5일 종가
price = [42500, 42550, 41800, 42550, 42650]
date = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = pd.Series(price, date)
print(s)

In [ ]:
# 딕셔너리를 사용해서 시리즈를 한번에 만들기
data = {
    "2019-05-31" : 42500,
    "2019-05-30" : 42550,
    "2019-05-29" : 41800,
    "2019-05-28" : 42550,
    "2019-05-27" : 42650
}
s = pd.Series(data)
s

In [ ]:
# 시리즈 객체는 index와 values라는 속성을 통해 인덱스와 값을 각각 분리해서 얻어올 수 있습니다
print(s.index)
print(s.index.dtype)

print(s.values)
print(s.values.dtype)

## 05) 시리즈 슬라이싱

In [ ]:
import pandas as pd

data = [1000, 2000, 3000]
index = ['메로나','구구콘','하겐다즈']
s = pd.Series(data, index)
print(s[0:2])

In [ ]:
s['메로나':'구구콘']

In [ ]:
print(s.iloc[0:2])

In [ ]:
s.loc['메로나':'구구콘']

In [ ]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = pd.Series(data=data, index=index)

In [ ]:
indice = [0, 2]
print(s.iloc[indice])
print(s.iloc[[0, 2]])

In [ ]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s =  pd.Series(data=data, index=index)
indice = ["메로나", "하겐다즈"]
print(s.loc[ indice ])
print(s.loc[ ["메로나", "하겐다즈"] ])

## 06) 시리즈 수정/추가/삭제

In [ ]:
import pandas as pd
data  = [100,200,300]
index = ['메로나','구구콘','하겐다즈']
s = pd.Series(data, index)

print(s)
s.loc['메로나'] = 500
print(s)

In [ ]:
s.iloc[0] = 600
print(s)
s.loc['메로나'] = 700
print(s)

In [ ]:
# 값 추가
s.loc['비비빅'] = 800
print(s)

In [ ]:
# 시리즈에서 값의 삭제는 drop 메서드를 사용
print(s)
s.drop('메로나')
print(s)
s = s.drop('메로나')
print(s)

# s.drop(0) # 에러 발생

In [ ]:
s.index

In [ ]:
s.values

## 07) 시리즈 연산

In [ ]:
# 같은 인덱스를 갖는 종목끼리 덕셈을 수행하고, 같은 인덱스에 계산 결과를 저장
import pandas as pd
철수 = pd.Series([10,20,30], index=['NAVER','SKT','KT'])
영희 = pd.Series([10,30,20], index=['SKT','KT','NAVER'])
가족 = 철수 + 영희
print(가족)

In [ ]:
# 시리즈와 스칼라(숫자)의 연산은 브로드캐스팅이 적용되어 모든 데이터에 연산이 적용
print(철수)
print(철수 * 10)

In [ ]:
# 삼성전자의 5일 일봉 데이터에서 고가와 저가 시리즈로 각 거래일의 변동폭을 계산

high = pd.Series([42800, 42700, 42050, 42950, 43000])
low = pd.Series([42150, 42150, 41300, 42150, 42350])

diff = high - low
print(diff)
print('----------------------')
print(diff.max())

In [ ]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = pd.Series([42800, 42700, 42050, 42950, 43000], index=date)
low = pd.Series([42150, 42150, 41300, 42150, 42350] , index=date)

diff = high - low
print(diff)

In [ ]:
max_idx = 0
max_val = 0

for i,j in enumerate(diff):
    if j > max_val:
        max_val = j
        max_idx = i

print(max_val)
print(diff.index[max_idx])

In [ ]:
max_idx = 0
max_val = 0
for i in range(len(diff)):
    if diff[i] > max_val:
        max_val = diff[i]
        max_idx = i
    
print(max_idx)
print(diff[max_idx])
print(diff.index[max_idx])

In [ ]:
# 시리즈는 최댓값일 때의 인덱스를 반환하는 idxmax와 최솟값일 떄의 인덱스를 반환하는 idxmin 메서드를 제공
print(diff.idxmax(), diff[diff.idxmax()])
print(diff.idxmin(), diff[diff.idxmin()])

In [ ]:
# 매일 저가에 사서 고가에 팔았을 경우 수익률 계산

date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = pd.Series([42800, 42700, 42050, 42950, 43000], index=date)
low = pd.Series([42150, 42150, 41300, 42150, 42350] , index=date)

profit = high / low
print(profit)

In [ ]:
# 누적 수익률 - 모든 수익률을 누적해서 곱합으로써 계산 - cumprod()
# profit[0], profit[0] * profit[1], (profit[0] * profit[1]) * profit[2], ...
print(profit)
print('-----------------------')
print(profit.cumprod())

In [ ]:
print(profit.cumprod().iloc[-1])

In [ ]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = pd.Series(data)
print(s)

In [ ]:
# 중복 제거
s.unique()

In [ ]:
# 값의 갯수 조회
s.value_counts()

## 08) 시리즈와 Map

In [ ]:
import pandas as pd

s = pd.Series(["1,234", "5,678", "9,876"])
# print( int(s) ) # 에러 발생 - 형변환 에러

In [ ]:
# map() 메서드 동작 원리
def remove_comma(x):
    print(x, 'in function')
    return x 

s = pd.Series(['1,234', '5,678', '9,876'])
print(s)
result = s.map(remove_comma)
print(result)

In [ ]:
# map() 메서드 동작 원리
def remove_comma(x):
    return int(x.replace(',',''))  # comma를 제거하고 정수로 변경후 Return

s = pd.Series(['1,234', '5,678', '9,876'])
print(s)
result = s.map(remove_comma)
print(result)

In [ ]:
# map() 메서드를 사용해서 수치형 데이터를 범주형 데이터로 구분

def is_greater_than_5000(x):
    if x > 5000:
        return '크다'
    else:
        return '작다'
    
s = pd.Series([1234, 5678, 9876])
s = s.map(is_greater_than_5000)
print(s)

## 09) 시리즈 필터링

In [ ]:
# 삼성전자의 5일 종가를 시리즈 객체로 표현

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = pd.Series(data=data, index=index)
cond = s > 42000
print(cond)

# 블리언 색인
print(s[cond])

In [ ]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = pd.Series(data=open, index=index)
close = pd.Series(data=close, index=index)

cond = close > open
print(cond)

In [ ]:
print(close[cond])
print(open[cond])

In [ ]:
close.index[close>open]

In [ ]:
close[close>open].index

In [ ]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
 
open = pd.Series(data=open, index=index)
close = pd.Series(data=close, index=index)
diff = close - open
diff[close > open]

## 10) 정렬 및 순위

In [ ]:
import pandas as pd

data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = pd.Series(data=data, index=index)
print(s)

# 정렬 (오름차순)
s1 = s.sort_values()
print(s1)

# 정렬 (내림차순)
s2 = s.sort_values(ascending=False)
print(s2)

In [ ]:
# 데이터의 위치는 그래로 유지한 채 순위만 추가한다는 점
# rank() 메서드
# rank() - option
# 

data = [3.1, 2.0, 10.1, 3.1]
index = ['000010', '000020', '000030', '000040']
s = pd.Series(data=data, index=index)
print(s)
s.rank()