In [1]:
a = 0xA
a

10

In [2]:
"""abc"""

'abc'

In [13]:
aa = "aa인생은"
len(aa)
bb = "20230315Rainy"

In [21]:
aa[3], aa[4], aa[-1], aa[1:3], aa[2:], aa[:3]
date = bb[:8]; weather = bb[8:]
date, weather

('20230315', 'Rainy')

In [23]:
cc = "Pithon"
cc[:1]+"y"+cc[2:]

'Python'

In [25]:
cc.replace("i","y")

'Python'

In [37]:
"I eat %d apples." %3
"I eat %f apples" %3.0
"I eat %s apples." % "five"
number = 3
"I eat %d apples" % number
number = 10; day = "three"
"i ate %d apples. so I was sick for %s days." %(number, day)

'i ate 10 apples. so I was sick for three days.'

In [40]:
char = "a"
"First alphabet is %c %%" %char
"%d is 8진수 : %o 이고 16진수로는 %x" %(10, 10, 10)

'10 is 8진수 : 12 이고 16진수로는 a'

In [43]:
"%s + %s 은 %s이다." %(4, 4, 4+4)

'4 + 4 은 8이다.'

In [48]:
"%d%%" % 4

'4%'

In [55]:
"%10s" % "hi"
"%-10sjain" % "hi"
"%0.4f" % 3.141592
"%10.4f" % 3.141592
"%-10.4f" % 3.141592

'3.1416    '

In [60]:
"I eat {0} apples".format(3)
"I eat {0} apples".format("five")
number = 3
"I eat {0} apples.".format(number)

"I ate {0} apples. so I was sick for {1} days.".format(number, number)

'I ate 3 apples. so I was sick for 3 days.'

In [61]:
"I ate {number} apples. so I was sick for {day} days.".format(number=3, day=4)

'I ate 3 apples. so I was sick for 4 days.'

In [72]:
print("I ate 4 {0:<10}".format("apples"))
print("I ate 4 {0:>10}".format("apples"))
print("I ate 4 {0:^10}".format("apples"))
print("I ate 4 {f:<10}".format(f="apples"))

I ate 4 apples
I ate 4     apples
I ate 4   apples
I ate 4 apples

In [74]:
print("I ate {0:=^10}".format("apples"))
print("I ate {0:!^10}".format("apples"))

I ate ==apples==
I ate !!apples!!

In [90]:
y = 3.141592
print("{0:<1.4f}".format(y+1))
print("{0:>10.4f}".format(y))
print("{0:>10.4f}".format(y))
print("{0:#>10.4f}".format(y))

4.1416
    3.1416
    3.1416
####3.1416

In [87]:
print("{{ and }}".format())

{ and }

In [ ]:
print("%-10.4f" % 3.141592)

In [97]:
name = '홍길동'
age = 30
#f'나의 이름은 {name} 이다. 나이는 {age} 임'
print(f'나의 이름은 {name:<10} 이다. 나이는 {age} 임')
print(f'나의 이름은 {name} 이다. 나이는 {age+1} 임')

나의 이름은 홍길동        이다. 나이는 30 임
나의 이름은 홍길동 이다. 나이는 31 임

In [99]:
d = {'name':'홍길동', 'age':30}
print(f'나의 이름은 {d["name"]} 이다. 나이는 {d["age"]} 임')
print(f'나의 이름은 {d["name"]:<20} 이다. 나이는 {d["age"]+1:>10} 임')
print(f'나의 이름은 {d["name"]:=<20} 이다. 나이는 {d["age"]+1:=>10} 임')

나의 이름은 홍길동 이다. 나이는 30 임
나의 이름은 홍길동                  이다. 나이는         31 임
나의 이름은 홍길동================= 이다. 나이는 ========31 임

In [101]:
d = {'name':'홍길동', 'age':30.1234333}

print(f'나의 이름은 {d["name"]:=<20} 이다. 나이는 {d["age"]+1:=>20.4f} 임')

나의 이름은 홍길동================= 이다. 나이는 =============31.1234 임

In [112]:
# count ~ 선택한 문자 갯수 반환
# -----
a = 'hobby대한민국'
print(a.count('국'))


# find ~ 위치 인덱스 반환
# ----
a = 'Python is the best choice'
print(a.find('b'))
print(a.find('o'))  # 문자 중복시 첫번째 문자의 위치 인덱스 반환
print(a.find('z'))  # 찾는 문자 없으면 -1 반환


# index ~ 위치 인덱스 알려주기
# -----
a = 'Python is the best choice'
print(a.index('b'))
print(a.index('o'))  # 문자 중복시 첫번째 문자의 위치 인덱스 반환
# print(a.index('z'))  # 찾는 문자 없으면 오류 발생

1
14
4
-1
14
4

In [114]:
# join ~ 문자열 삽입
# ----
print(",".join('abcd'))
print(",".join(['a','b','c','d']))


# upper ~ 소문자를 대문자로 바꾸기
# -----
a = 'hi'
print(a.upper())


# lower ~ 대문자를 소문자로 바꾸기
# -----
a = 'HI'
print(a.lower())

a,b,c,d
a,b,c,d
HI
hi

In [127]:
# lstrip ~ 왼쪽 공백 지우기
# ------
a = '     hi    '
print(f'{a.lstrip():=^}')
print('     hi'.lstrip())


# rstrip ~ 오른쪽 공백 지우기
# ------
a = '     hi    '
print(f'{a.rstrip():=^}')
print('          hi     '.rstrip())


# strip ~ 양쪽 공백 지우기
# -----
a = '     hi    '
print(f'{a.strip():=^}')
print('          hi     '.strip())

hi
hi
     hi
          hi
hi
hi

In [128]:
# replace ~ 문자열 바꾸기
# -------
a = 'Life is too short'
a.replace('Life', 'Your leg')

'Your leg is too short'

In [132]:
# split ~ 문자열 나누기
# -----
a = 'Life is too short'
print(a.split())

b = 'a:b:c:d'
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [136]:
# 리스트 인덱싱
# ------------
a = [1, 2, 3]
a, a[0], a[0] + a[1]
a[-1]

3

In [145]:
a = [1,2,3,['a','b','c']]
a, a[-1], a[3]
a[3][0:2]

['a', 'b']

In [147]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][-1]

'is'

In [156]:
a = [1,2,3,['a','b','c']]
print(a[2:4])
print(a[2:4][0])
print(a[2:4][1])
print(a[3])

[3, ['a', 'b', 'c']]
3
['a', 'b', 'c']
['a', 'b', 'c']

In [160]:
a = [1,2,3,4,5]
print(a[:2])
print(a[2:])

[1, 2]
[3, 4, 5]

In [163]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [167]:
# 리스트 연산하기
# --------------

a = [1,2,3]
b = [4,5,6]

print(a + b)
print(a * 3 )

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [168]:
# 리스트 길이 구하기
# ----------------
a = [1,2,3]
len(a)

3

In [171]:
# 숫자를 문자형으로 변경
# --------------------
a = [1,2,3]
str(a[0]) + ' hi'

'1 hi'

In [174]:
# 시스트의 수정과 삭제
# -------------------
a = [1,2,3]
a[2] = 4
a

del a[1]
a

a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [179]:
# 리스트 관련 함수
# ---------------
a = [1,2,3]
a.append(4)
a
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [184]:
# 리스트 정렬(sort)
# ----------------
a = [1,4,3,2]
a.sort()
a

a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [186]:
# 리스트 뒤집기(reverse)
# ---------------------
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [189]:
a = ['a','c','b']
print(a[:])
print(a[::-1])

['a', 'c', 'b']
['b', 'c', 'a']

In [195]:
# 인덱스 반환(index)
# -----------------
a = [1,2,3,1,2,3]
print(a.index(3))
a.index(1)

2

0

In [198]:
# 리스트에 요소 삽입
# ----------------
a = [1,2,3]
a.insert(0,4)
a
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [200]:
# 리스트 요소 제거(remove)
# -----------------------
a = [1,2,3,1,2,3]
a.remove(1)
a
a.remove(1)
a

[2, 3, 2, 3]

In [207]:
# 리스트 요소 끄집어 내기(pop)
# --------------------------
a = [1,2,3]
a.pop(1)
a.pop()
a

[1]

In [208]:
# 리스트에 포함된 요소 x의 개수 세기(count)
# --------------------------------------
a = [1,2,3,1]
a.count(1)

2

In [210]:
# 리스트 확장(extend)
# ------------------
a = [1,2,3]
a.extend([4,5])
a
b = ['a','b']
a.extend(b)
a

[1, 2, 3, 4, 5, 'a', 'b']

In [212]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [213]:
a = [1,2,3]
a += [4,5]
a

[1, 2, 3, 4, 5]

In [216]:
a = [1,2,3]
a = a + [4,5]
a

[1, 2, 3, 4, 5]

In [217]:
# 튜플

In [218]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

In [228]:
t5

('a', 'b', ('ab', 'cd'))