## 서울 아파트 실거래가 데이터 
- 서울 아파트 실거래가 자료 (계약년월 2021년 2월) 
- [출처] 국토교통부 실거래가 공개시스템  
- 이번 실습에서는 **데이터의 구조 및 형태**를 살펴보고 탐색적 자료분석은 4-7차시에서 다룰 예정

In [2]:
import pandas as pd
apt = pd.read_excel('data/아파트_실거래가_서울.xlsx')

- 데이터에 포함된 변수의 개수와 관측치 개수 알아보기

In [3]:
apt.shape # data frame의 행열의 수

(3827, 15)

- 데이터에 포함된 변수명 살펴보기

In [4]:
apt.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '시', '구', '동'],
      dtype='object')

- 데이터를 전체적으로 살펴보기 : 데이터의 시작 부분이나 마지막 부분을 확인해보기

In [5]:
apt.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시,구,동
0,서울특별시 강남구 개포동,652,652,0,개포우성3차,104.43,202102,9,145000,6,1984,개포로 307,서울특별시,강남구,개포동
1,서울특별시 강남구 개포동,185,185,0,개포주공 6단지,53.06,202102,1,200000,12,1983,개포로 516,서울특별시,강남구,개포동
2,서울특별시 강남구 개포동,185,185,0,개포주공 6단지,73.02,202102,28,243000,7,1983,개포로 516,서울특별시,강남구,개포동
3,서울특별시 강남구 개포동,649,649,0,경남2차,182.20,202102,5,327000,11,1984,언주로 110,서울특별시,강남구,개포동
4,서울특별시 강남구 개포동,649,649,0,경남2차,186.16,202102,6,332000,14,1984,언주로 110,서울특별시,강남구,개포동

In [6]:
apt.tail(n=10)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시,구,동
3817,서울특별시 중랑구 중화동,450,450,0,한신1차,59.76,202102,4,63000,3,1997,동일로 752,서울특별시,중랑구,중화동
3818,서울특별시 중랑구 중화동,450,450,0,한신1차,84.03,202102,4,80000,3,1997,동일로 752,서울특별시,중랑구,중화동
3819,서울특별시 중랑구 중화동,450,450,0,한신1차,59.76,202102,6,64500,5,1997,동일로 752,서울특별시,중랑구,중화동
3820,서울특별시 중랑구 중화동,450,450,0,한신1차,59.76,202102,6,64000,6,1997,동일로 752,서울특별시,중랑구,중화동
3821,서울특별시 중랑구 중화동,450,450,0,한신1차,50.37,202102,8,60500,19,1997,동일로 752,서울특별시,중랑구,중화동
3822,서울특별시 중랑구 중화동,450,450,0,한신1차,50.37,202102,9,62000,19,1997,동일로 752,서울특별시,중랑구,중화동
3823,서울특별시 중랑구 중화동,450,450,0,한신1차,59.76,202102,9,66000,22,1997,동일로 752,서울특별시,중랑구,중화동
3824,서울특별시 중랑구 중화동,450,450,0,한신2,59.76,202102,1,65000,8,1998,동일로 752,서울특별시,중랑구,중화동
3825,서울특별시 중랑구 중화동,450,450,0,한신2,84.03,202102,2,79800,6,1998,동일로 752,서울특별시,중랑구,중화동
3826,서울특별시 중랑구 중화동,274-51,274,51,한영(101),57.66,202102,27,30500,5,2003,동일로144길 74,서울특별시,중랑구,중화동

- 변수의 개별 속성 확인 
    - 연산이 가능한 수치형(numeric)인지? 문자열(character)인지?
    - 수치형 : int64 $\rightarrow$ 정수형, float64  $\rightarrow$ 실수형 
    - 문자열 : object $\rightarrow$ 문자열 타입
    - 숫자처럼 보이더라도 속성이 문자열인 경우가 있으므로 확인 필요

In [7]:
apt.info() # Dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3827 entries, 0 to 3826
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       3827 non-null   object
 1   번지        3827 non-null   object
 2   본번        3827 non-null   int64
 3   부번        3827 non-null   int64
 4   단지명       3827 non-null   object
 5   전용면적(㎡)   3827 non-null   float64
 6   계약년월      3827 non-null   int64
 7   계약일       3827 non-null   int64
 8   거래금액(만원)  3827 non-null   int64
 9   층         3827 non-null   int64
 10  건축년도      3827 non-null   int64
 11  도로명       3827 non-null   object
 12  시         3827 non-null   object
 13  구         3827 non-null   object
 14  동         3827 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 448.6+ KB

- 범주형 변수에 대한 요약 : 도수분포표(frequency table)

In [8]:
apt.구.value_counts()

노원구     380
강서구     259
강남구     241
구로구     208
서초구     202
성북구     198
도봉구     191
송파구     174
양천구     167
강동구     160
영등포구    152
중랑구     148
관악구     135
서대문구    133
은평구     127
성동구     124
마포구     124
동작구     118
강북구     117
동대문구    114
중구      100
용산구      81
금천구      75
광진구      63
종로구      36
Name: 구, dtype: int64

- 결측치 유무 확인

In [9]:
apt.isnull().any()

시군구         False
번지          False
본번          False
부번          False
단지명         False
전용면적(㎡)     False
계약년월        False
계약일         False
거래금액(만원)    False
층           False
건축년도        False
도로명         False
시           False
구           False
동           False
dtype: bool

- 결측치 개수 확인

In [10]:
apt.isnull().sum()

시군구         0
번지          0
본번          0
부번          0
단지명         0
전용면적(㎡)     0
계약년월        0
계약일         0
거래금액(만원)    0
층           0
건축년도        0
도로명         0
시           0
구           0
동           0
dtype: int64