In [3]:
import pandas as pd

df = pd.read_excel("data/ss_ex_1.xlsx", index_col=0)
df.index = pd.to_datetime(df.index)
df = df.sort_index()[['시가', '저가', '고가', '종가', '거래량']]
df.head()

C:\Users\USER\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                 시가       저가       고가       종가         거래량
일자
2021-02-15  83800.0  83300.0  84500.0  84200.0  23529706.0
2021-02-16  84500.0  84200.0  86000.0  84900.0  20483100.0
2021-02-17  83900.0  83000.0  84200.0  83200.0  18307735.0
2021-02-18  83200.0  82100.0  83600.0  82100.0  21327683.0
2021-02-19  82300.0  81000.0  82800.0  82600.0  25880879.0

In [4]:
df.resample('M').first()

                 시가       저가       고가       종가         거래량
일자
2021-02-28  83800.0  83300.0  84500.0  84200.0  23529706.0
2021-03-31  85100.0  83000.0  85300.0  83600.0  33498180.0
2021-04-30  82500.0  82000.0  83000.0  82900.0  18676461.0
2021-05-31  81000.0  81000.0  82400.0  81700.0  15710336.0
2021-06-30  80500.0  80100.0  81300.0  80600.0  14058401.0
2021-07-31  80500.0  80000.0  80600.0  80100.0  13382882.0
2021-08-31  79200.0  78700.0  79500.0  79300.0  11739124.0

In [13]:
df.resample('M').last()

                 시가       저가       고가       종가         거래량
일자
2021-02-28  82800.0  82000.0  83400.0  82500.0  38520800.0
2021-03-31  82400.0  81400.0  82700.0  81400.0  17240518.0
2021-04-30  81900.0  81500.0  82100.0  81500.0  18673197.0
2021-05-31  80300.0  79600.0  80600.0  80500.0  13321324.0
2021-06-30  81100.0  80700.0  81400.0  80700.0  13288643.0
2021-07-31  78900.0  78500.0  78900.0  78500.0  13823411.0
2021-08-31  75800.0  74100.0  76000.0  74400.0  61270643.0

In [18]:
df.loc['2021-02'].tail()

                 시가       저가       고가       종가         거래량
일자
2021-02-22  83800.0  82200.0  84200.0  82200.0  25419886.0
2021-02-23  81200.0  81100.0  82900.0  82000.0  20587314.0
2021-02-24  81800.0  81300.0  83600.0  82000.0  26807651.0
2021-02-25  84000.0  83000.0  85400.0  85300.0  34155986.0
2021-02-26  82800.0  82000.0  83400.0  82500.0  38520800.0

In [14]:
# 인덱스는 기본적으로 그룹화한 날짜 중 마지막 날짜가 선택됩니다. 
# resample 메서드에 다음과 같이 S 옵션을 추가하면 그룹 중 가장 빠른 일자로 인덱스를 설정합니다. 
# 데이터의 가장 빠른 날이 아니라 일반적인 날자의 첫날

df.resample('MS').first()

                 시가       저가       고가       종가         거래량
일자
2021-02-01  83800.0  83300.0  84500.0  84200.0  23529706.0
2021-03-01  85100.0  83000.0  85300.0  83600.0  33498180.0
2021-04-01  82500.0  82000.0  83000.0  82900.0  18676461.0
2021-05-01  81000.0  81000.0  82400.0  81700.0  15710336.0
2021-06-01  80500.0  80100.0  81300.0  80600.0  14058401.0
2021-07-01  80500.0  80000.0  80600.0  80100.0  13382882.0
2021-08-01  79200.0  78700.0  79500.0  79300.0  11739124.0

In [20]:
# OHLCV 데이터는 그룹 중 특정 행의 값이 통째로 필요한 것이 아니라 시가는 시작일의 가격, 종가는 마지막 날 가격, 
# 고가는 가장 높은 값, 저가는 가장 낮은 값, 거래량은 합산한 값이 필요합니다. 
# 데이터프레임의 agg 메서드에 컬럼 이름과 적용 방법을 딕셔너리로 기술하면 되겠죠?

how = {'시가':'first', 
       '종가':'last',
       '고가':max,
       '저가':min,
       '거래량':sum}

df.resample('MS').agg(how)  # 월별 통계데이터 생성

                 시가       종가       고가       저가          거래량
일자
2021-02-01  83800.0  82500.0  86000.0  81000.0  255020740.0
2021-03-01  85100.0  81400.0  85300.0  80600.0  387612356.0
2021-04-01  82500.0  81500.0  86200.0  81500.0  372938171.0
2021-05-01  81000.0  80500.0  83500.0  78400.0  352211074.0
2021-06-01  80500.0  80700.0  83000.0  79600.0  333099465.0
2021-07-01  80500.0  78500.0  81300.0  78100.0  275886253.0
2021-08-01  79200.0  74400.0  83300.0  74100.0  263311167.0

In [26]:
# resample 메서드는 월(M)뿐만 아니라 시(H)/분(T)/초(S)/일(D)/주(W) 단위로 데이터를 샘플링할 수 있습니다. 
# M이 "월"로 해석되기 때문에 "분"은 T를 사용하는 것에 주의하세요. 다음 코드는 3일 단위로 데이터를 그룹화합니다.

df.resample('3D').agg(how)

                 시가       종가       고가       저가          거래량
일자
2021-02-15  83800.0  83200.0  86000.0  83000.0   62320541.0
2021-02-18  83200.0  82600.0  83600.0  81000.0   47208562.0
2021-02-21  83800.0  82000.0  84200.0  81100.0   46007200.0
2021-02-24  81800.0  82500.0  85400.0  81300.0   99484437.0
2021-02-27      NaN      NaN      NaN      NaN          0.0
2021-03-02  85100.0  82400.0  85300.0  82200.0   77728643.0
2021-03-05  81100.0  82100.0  82600.0  81100.0   20508971.0
2021-03-08  82900.0  80900.0  83000.0  80600.0   63100442.0
2021-03-11  81000.0  82800.0  83500.0  81000.0   37348870.0
2021-03-14  82800.0  82800.0  83000.0  81800.0   26029335.0
2021-03-17  82800.0  81900.0  83800.0  81800.0   46080090.0
2021-03-20  82000.0  82000.0  82300.0  81700.0   12670506.0
2021-03-23  82600.0  81200.0  82900.0  80700.0   45985371.0
2021-03-26  81400.0  81500.0  81600.0  81000.0   12845778.0
2021-03-29  81700.0  81400.0  82700.0  81000.0   45314350.0
2021-04-01  82500.0  84800.0  85200.0  82000.0   41673999.0
2021-04-04  85800.0  86000.0  86200.0  84800.0   35298013.0
2021-04-07  86100.0  83600.0  86200.0  83400.0   55323504.0
2021-04-10  84100.0  83200.0  84100.0  83100.0   12915282.0
2021-04-13  83000.0  84100.0  84500.0  82800.0   45410270.0
2021-04-16  84700.0  83900.0  84700.0  83600.0   15429522.0
2021-04-19  83800.0  82600.0  84000.0  82500.0   52445355.0
2021-04-22  82900.0  82800.0  83000.0  81600.0   31739826.0
2021-04-25  82900.0  82900.0  83500.0  82500.0   28431471.0
2021-04-28  83200.0  81500.0  83200.0  81500.0   54270929.0
2021-05-01  81000.0  81700.0  82400.0  81000.0   15710336.0
2021-05-04  81900.0  82300.0  82600.0  81700.0   29580061.0
2021-05-07  81800.0  81900.0  82100.0  81500.0   14154882.0
2021-05-10  82300.0  80000.0  83500.0  79800.0   84193975.0
2021-05-13  78900.0  80100.0  80300.0  78400.0   47941016.0
2021-05-16  80800.0  79600.0  80900.0  79100.0   35235262.0
2021-05-19  79400.0  80100.0  81500.0  79100.0   37503542.0
2021-05-22  80100.0  79700.0  80400.0  79500.0   13398666.0
2021-05-25  80000.0  79600.0  80500.0  79100.0   48811811.0
2021-05-28  79800.0  80100.0  80400.0  79400.0   12360199.0
2021-05-31  80300.0  80800.0  81400.0  79600.0   43794369.0
2021-06-03  81300.0  82200.0  83000.0  81100.0   47658266.0
2021-06-06  82700.0  81900.0  82800.0  81600.0   29277423.0
2021-06-09  81500.0  81000.0  82000.0  80700.0   46583780.0
2021-06-12  80800.0  80500.0  80900.0  80500.0   10550078.0
2021-06-15  80900.0  80900.0  81900.0  80600.0   39082925.0
2021-06-18  81100.0  80500.0  81100.0  80500.0   14916721.0
2021-06-21  79700.0  80100.0  80600.0  79600.0   41693253.0
2021-06-24  80400.0  81600.0  81900.0  80100.0   32252485.0
2021-06-27  81700.0  81000.0  82100.0  80800.0   27322846.0
2021-06-30  81100.0  80000.0  81400.0  79900.0   35424622.0
2021-07-03  80100.0  80400.0  80800.0  80000.0    8330969.0
2021-07-06  80600.0  79900.0  81300.0  79900.0   44784851.0
2021-07-09  79600.0  79400.0  79800.0  79000.0   22720577.0
2021-07-12  79900.0  79500.0  80200.0  79100.0   31207194.0
2021-07-15  79800.0  79800.0  80600.0  79500.0   24625678.0
2021-07-18  79100.0  79000.0  79200.0  78400.0   25612060.0
2021-07-21  79000.0  79300.0  79900.0  78500.0   34072996.0
2021-07-24  79400.0  78800.0  79500.0  78800.0   10040975.0
2021-07-27  79200.0  79000.0  79400.0  78100.0   38531563.0
2021-07-30  78900.0  78500.0  78900.0  78500.0   13823411.0
2021-08-02  79200.0  82900.0  83100.0  78700.0   61720852.0
2021-08-05  83300.0  81500.0  83300.0  81300.0   31828092.0
2021-08-08  81500.0  80200.0  82400.0  80100.0   35885220.0
2021-08-11  79600.0  74400.0  79800.0  74100.0  133877003.0

In [28]:
# 코드를 실행하면 2021-02-27부터 3일간은 휴일이라 데이터가 존재하지 않아 NaN으로 출력됩니다. 
# 과거 데이터로 백테스팅할 때는 이러한 결측값의 처리를 주의해야 합니다. 
# 데이터프레임의 dropna 메서드를 사용해서 결측값을 제거할 수 있습니다.

df.resample('3D').agg(how).dropna()

                 시가       종가       고가       저가          거래량
일자
2021-02-15  83800.0  83200.0  86000.0  83000.0   62320541.0
2021-02-18  83200.0  82600.0  83600.0  81000.0   47208562.0
2021-02-21  83800.0  82000.0  84200.0  81100.0   46007200.0
2021-02-24  81800.0  82500.0  85400.0  81300.0   99484437.0
2021-03-02  85100.0  82400.0  85300.0  82200.0   77728643.0
2021-03-05  81100.0  82100.0  82600.0  81100.0   20508971.0
2021-03-08  82900.0  80900.0  83000.0  80600.0   63100442.0
2021-03-11  81000.0  82800.0  83500.0  81000.0   37348870.0
2021-03-14  82800.0  82800.0  83000.0  81800.0   26029335.0
2021-03-17  82800.0  81900.0  83800.0  81800.0   46080090.0
2021-03-20  82000.0  82000.0  82300.0  81700.0   12670506.0
2021-03-23  82600.0  81200.0  82900.0  80700.0   45985371.0
2021-03-26  81400.0  81500.0  81600.0  81000.0   12845778.0
2021-03-29  81700.0  81400.0  82700.0  81000.0   45314350.0
2021-04-01  82500.0  84800.0  85200.0  82000.0   41673999.0
2021-04-04  85800.0  86000.0  86200.0  84800.0   35298013.0
2021-04-07  86100.0  83600.0  86200.0  83400.0   55323504.0
2021-04-10  84100.0  83200.0  84100.0  83100.0   12915282.0
2021-04-13  83000.0  84100.0  84500.0  82800.0   45410270.0
2021-04-16  84700.0  83900.0  84700.0  83600.0   15429522.0
2021-04-19  83800.0  82600.0  84000.0  82500.0   52445355.0
2021-04-22  82900.0  82800.0  83000.0  81600.0   31739826.0
2021-04-25  82900.0  82900.0  83500.0  82500.0   28431471.0
2021-04-28  83200.0  81500.0  83200.0  81500.0   54270929.0
2021-05-01  81000.0  81700.0  82400.0  81000.0   15710336.0
2021-05-04  81900.0  82300.0  82600.0  81700.0   29580061.0
2021-05-07  81800.0  81900.0  82100.0  81500.0   14154882.0
2021-05-10  82300.0  80000.0  83500.0  79800.0   84193975.0
2021-05-13  78900.0  80100.0  80300.0  78400.0   47941016.0
2021-05-16  80800.0  79600.0  80900.0  79100.0   35235262.0
2021-05-19  79400.0  80100.0  81500.0  79100.0   37503542.0
2021-05-22  80100.0  79700.0  80400.0  79500.0   13398666.0
2021-05-25  80000.0  79600.0  80500.0  79100.0   48811811.0
2021-05-28  79800.0  80100.0  80400.0  79400.0   12360199.0
2021-05-31  80300.0  80800.0  81400.0  79600.0   43794369.0
2021-06-03  81300.0  82200.0  83000.0  81100.0   47658266.0
2021-06-06  82700.0  81900.0  82800.0  81600.0   29277423.0
2021-06-09  81500.0  81000.0  82000.0  80700.0   46583780.0
2021-06-12  80800.0  80500.0  80900.0  80500.0   10550078.0
2021-06-15  80900.0  80900.0  81900.0  80600.0   39082925.0
2021-06-18  81100.0  80500.0  81100.0  80500.0   14916721.0
2021-06-21  79700.0  80100.0  80600.0  79600.0   41693253.0
2021-06-24  80400.0  81600.0  81900.0  80100.0   32252485.0
2021-06-27  81700.0  81000.0  82100.0  80800.0   27322846.0
2021-06-30  81100.0  80000.0  81400.0  79900.0   35424622.0
2021-07-03  80100.0  80400.0  80800.0  80000.0    8330969.0
2021-07-06  80600.0  79900.0  81300.0  79900.0   44784851.0
2021-07-09  79600.0  79400.0  79800.0  79000.0   22720577.0
2021-07-12  79900.0  79500.0  80200.0  79100.0   31207194.0
2021-07-15  79800.0  79800.0  80600.0  79500.0   24625678.0
2021-07-18  79100.0  79000.0  79200.0  78400.0   25612060.0
2021-07-21  79000.0  79300.0  79900.0  78500.0   34072996.0
2021-07-24  79400.0  78800.0  79500.0  78800.0   10040975.0
2021-07-27  79200.0  79000.0  79400.0  78100.0   38531563.0
2021-07-30  78900.0  78500.0  78900.0  78500.0   13823411.0
2021-08-02  79200.0  82900.0  83100.0  78700.0   61720852.0
2021-08-05  83300.0  81500.0  83300.0  81300.0   31828092.0
2021-08-08  81500.0  80200.0  82400.0  80100.0   35885220.0
2021-08-11  79600.0  74400.0  79800.0  74100.0  133877003.0

In [31]:
# resample한 결과에서 대푯값만 변경하고 싶다면 인덱스에 Timedelta 객체로 시간 차이를 보정할 수 있습니다. 
# 다음 코드는 Timestamp 객체로 저장된 데이터프레임의 모든 날짜에 2일의 시간차를 더합니다.

temp = df.resample('3D').agg(how)
temp.index = temp.index + pd.to_timedelta('2D')
temp.dropna()

                 시가       종가       고가       저가          거래량
일자
2021-02-17  83800.0  83200.0  86000.0  83000.0   62320541.0
2021-02-20  83200.0  82600.0  83600.0  81000.0   47208562.0
2021-02-23  83800.0  82000.0  84200.0  81100.0   46007200.0
2021-02-26  81800.0  82500.0  85400.0  81300.0   99484437.0
2021-03-04  85100.0  82400.0  85300.0  82200.0   77728643.0
2021-03-07  81100.0  82100.0  82600.0  81100.0   20508971.0
2021-03-10  82900.0  80900.0  83000.0  80600.0   63100442.0
2021-03-13  81000.0  82800.0  83500.0  81000.0   37348870.0
2021-03-16  82800.0  82800.0  83000.0  81800.0   26029335.0
2021-03-19  82800.0  81900.0  83800.0  81800.0   46080090.0
2021-03-22  82000.0  82000.0  82300.0  81700.0   12670506.0
2021-03-25  82600.0  81200.0  82900.0  80700.0   45985371.0
2021-03-28  81400.0  81500.0  81600.0  81000.0   12845778.0
2021-03-31  81700.0  81400.0  82700.0  81000.0   45314350.0
2021-04-03  82500.0  84800.0  85200.0  82000.0   41673999.0
2021-04-06  85800.0  86000.0  86200.0  84800.0   35298013.0
2021-04-09  86100.0  83600.0  86200.0  83400.0   55323504.0
2021-04-12  84100.0  83200.0  84100.0  83100.0   12915282.0
2021-04-15  83000.0  84100.0  84500.0  82800.0   45410270.0
2021-04-18  84700.0  83900.0  84700.0  83600.0   15429522.0
2021-04-21  83800.0  82600.0  84000.0  82500.0   52445355.0
2021-04-24  82900.0  82800.0  83000.0  81600.0   31739826.0
2021-04-27  82900.0  82900.0  83500.0  82500.0   28431471.0
2021-04-30  83200.0  81500.0  83200.0  81500.0   54270929.0
2021-05-03  81000.0  81700.0  82400.0  81000.0   15710336.0
2021-05-06  81900.0  82300.0  82600.0  81700.0   29580061.0
2021-05-09  81800.0  81900.0  82100.0  81500.0   14154882.0
2021-05-12  82300.0  80000.0  83500.0  79800.0   84193975.0
2021-05-15  78900.0  80100.0  80300.0  78400.0   47941016.0
2021-05-18  80800.0  79600.0  80900.0  79100.0   35235262.0
2021-05-21  79400.0  80100.0  81500.0  79100.0   37503542.0
2021-05-24  80100.0  79700.0  80400.0  79500.0   13398666.0
2021-05-27  80000.0  79600.0  80500.0  79100.0   48811811.0
2021-05-30  79800.0  80100.0  80400.0  79400.0   12360199.0
2021-06-02  80300.0  80800.0  81400.0  79600.0   43794369.0
2021-06-05  81300.0  82200.0  83000.0  81100.0   47658266.0
2021-06-08  82700.0  81900.0  82800.0  81600.0   29277423.0
2021-06-11  81500.0  81000.0  82000.0  80700.0   46583780.0
2021-06-14  80800.0  80500.0  80900.0  80500.0   10550078.0
2021-06-17  80900.0  80900.0  81900.0  80600.0   39082925.0
2021-06-20  81100.0  80500.0  81100.0  80500.0   14916721.0
2021-06-23  79700.0  80100.0  80600.0  79600.0   41693253.0
2021-06-26  80400.0  81600.0  81900.0  80100.0   32252485.0
2021-06-29  81700.0  81000.0  82100.0  80800.0   27322846.0
2021-07-02  81100.0  80000.0  81400.0  79900.0   35424622.0
2021-07-05  80100.0  80400.0  80800.0  80000.0    8330969.0
2021-07-08  80600.0  79900.0  81300.0  79900.0   44784851.0
2021-07-11  79600.0  79400.0  79800.0  79000.0   22720577.0
2021-07-14  79900.0  79500.0  80200.0  79100.0   31207194.0
2021-07-17  79800.0  79800.0  80600.0  79500.0   24625678.0
2021-07-20  79100.0  79000.0  79200.0  78400.0   25612060.0
2021-07-23  79000.0  79300.0  79900.0  78500.0   34072996.0
2021-07-26  79400.0  78800.0  79500.0  78800.0   10040975.0
2021-07-29  79200.0  79000.0  79400.0  78100.0   38531563.0
2021-08-01  78900.0  78500.0  78900.0  78500.0   13823411.0
2021-08-04  79200.0  82900.0  83100.0  78700.0   61720852.0
2021-08-07  83300.0  81500.0  83300.0  81300.0   31828092.0
2021-08-10  81500.0  80200.0  82400.0  80100.0   35885220.0
2021-08-13  79600.0  74400.0  79800.0  74100.0  133877003.0

In [32]:
# 위에서 2021-02-15부터 세 개의 데이터를 그룹화하는데, 경우에 따라 2021-02-16부터 그룹화가 필요할 수 있습니다. 
# resample 메서드의 offset 파라미터는 기준 일자를 조정합니다. 
# 다음 코드는 그룹화하는 기준 일자를 1일(1D) 미루기 때문에 2021-02-16에서 2021-02-19까지가 하나의 구간으로 분류됩니다. 
# 이때 2021-02-15는 이전 구간인 2021-02-13부터 2021-02-15구간에 포함됩니다.

df.resample('3D', offset='1D').agg(how)

how = {'시가':'first', 
       '종가':'last',
       '고가':max,
       '저가':min,
       '거래량':sum}

                 시가       종가       고가       저가          거래량
일자
2021-02-13  83800.0  84200.0  84500.0  83300.0   23529706.0
2021-02-16  84500.0  82100.0  86000.0  82100.0   60118518.0
2021-02-19  82300.0  82600.0  82800.0  81000.0   25880879.0
2021-02-22  83800.0  82000.0  84200.0  81100.0   72814851.0
2021-02-25  84000.0  82500.0  85400.0  82000.0   72676786.0
...             ...      ...      ...      ...          ...
2021-07-31  79200.0  79300.0  79500.0  78700.0   11739124.0
2021-08-03  79400.0  82100.0  83300.0  79300.0   68467197.0
2021-08-06  81900.0  81500.0  82500.0  81300.0   13342623.0
2021-08-09  81500.0  78500.0  82400.0  78500.0   66126357.0
2021-08-12  77100.0  74400.0  78200.0  74100.0  103635866.0

[61 rows x 5 columns]

In [33]:
df.loc['2021-02']

                 시가       저가       고가       종가         거래량
일자
2021-02-15  83800.0  83300.0  84500.0  84200.0  23529706.0
2021-02-16  84500.0  84200.0  86000.0  84900.0  20483100.0
2021-02-17  83900.0  83000.0  84200.0  83200.0  18307735.0
2021-02-18  83200.0  82100.0  83600.0  82100.0  21327683.0
2021-02-19  82300.0  81000.0  82800.0  82600.0  25880879.0
2021-02-22  83800.0  82200.0  84200.0  82200.0  25419886.0
2021-02-23  81200.0  81100.0  82900.0  82000.0  20587314.0
2021-02-24  81800.0  81300.0  83600.0  82000.0  26807651.0
2021-02-25  84000.0  83000.0  85400.0  85300.0  34155986.0
2021-02-26  82800.0  82000.0  83400.0  82500.0  38520800.0

In [34]:
df

                 시가       저가       고가       종가         거래량
일자
2021-02-15  83800.0  83300.0  84500.0  84200.0  23529706.0
2021-02-16  84500.0  84200.0  86000.0  84900.0  20483100.0
2021-02-17  83900.0  83000.0  84200.0  83200.0  18307735.0
2021-02-18  83200.0  82100.0  83600.0  82100.0  21327683.0
2021-02-19  82300.0  81000.0  82800.0  82600.0  25880879.0
...             ...      ...      ...      ...         ...
2021-08-09  81500.0  80900.0  82300.0  81500.0  15522581.0
2021-08-10  82300.0  80100.0  82400.0  80200.0  20362639.0
2021-08-11  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-12  77100.0  76900.0  78200.0  77000.0  42365223.0
2021-08-13  75800.0  74100.0  76000.0  74400.0  61270643.0

[127 rows x 5 columns]

In [36]:
# 일봉 데이터를 12시간 단위의 데이터로 업샘플링(up-sampling) 해 보겠습니다.

df.resample('12H').agg(how)

                          시가       종가       고가       저가         거래량
일자
2021-02-15 00:00:00  83800.0  84200.0  84500.0  83300.0  23529706.0
2021-02-15 12:00:00      NaN      NaN      NaN      NaN         0.0
2021-02-16 00:00:00  84500.0  84900.0  86000.0  84200.0  20483100.0
2021-02-16 12:00:00      NaN      NaN      NaN      NaN         0.0
2021-02-17 00:00:00  83900.0  83200.0  84200.0  83000.0  18307735.0
...                      ...      ...      ...      ...         ...
2021-08-11 00:00:00  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-11 12:00:00      NaN      NaN      NaN      NaN         0.0
2021-08-12 00:00:00  77100.0  77000.0  78200.0  76900.0  42365223.0
2021-08-12 12:00:00      NaN      NaN      NaN      NaN         0.0
2021-08-13 00:00:00  75800.0  74400.0  76000.0  74100.0  61270643.0

[359 rows x 5 columns]

In [37]:
# 존재하는 이전 구간의 값을 결측값으로 채워 넣을 수 있습니다. ffill 메서드는 결측값을 이전 로우의 값으로 대체합니다.
# ffill 메서드가 적용된 데이터프레임입니다. 2021-02-15 12:00:00의 행은 이전 위치인 2021-02-15 00:00:00 행의 
# 값으로 채워졌습니다. 참고로 ffill은 forward fill의 약자이며, 비슷한 기능으로 backward fill의 bfill 메서드가 
# 존재합니다. bfill은 아래 행의 값으로 결측값을 채워 넣습니다.

df.resample('12H').agg(how).ffill()

                          시가       종가       고가       저가         거래량
일자
2021-02-15 00:00:00  83800.0  84200.0  84500.0  83300.0  23529706.0
2021-02-15 12:00:00  83800.0  84200.0  84500.0  83300.0         0.0
2021-02-16 00:00:00  84500.0  84900.0  86000.0  84200.0  20483100.0
2021-02-16 12:00:00  84500.0  84900.0  86000.0  84200.0         0.0
2021-02-17 00:00:00  83900.0  83200.0  84200.0  83000.0  18307735.0
...                      ...      ...      ...      ...         ...
2021-08-11 00:00:00  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-11 12:00:00  79600.0  78500.0  79800.0  78500.0         0.0
2021-08-12 00:00:00  77100.0  77000.0  78200.0  76900.0  42365223.0
2021-08-12 12:00:00  77100.0  77000.0  78200.0  76900.0         0.0
2021-08-13 00:00:00  75800.0  74400.0  76000.0  74100.0  61270643.0

[359 rows x 5 columns]

In [48]:
# 거래량은 이전의 값이 복사되지 않고 0으로 표기돼 았습니다. 이는 agg 메서드로 거래량 컬럼에 적용한 sum 함수가 결측값을 
# 0으로 합산하기 때문에 발생하는 문제입니다. 제대로 처리하기 위해서는 로우에 하나라도 결측값이 있을 경우 NaN으로 
# 거래량을 설정하는 전처리 과정이 추가돼야 합니다. 드물겠지만 실제 거래량이 없을 수 있어서 행 전체를 비교합니다.

import numpy as np 

temp = df.resample('12H').agg(how)
cond = temp.isna().any(axis=1)
temp.loc[cond, '거래량'] = np.NaN

temp.ffill()

                          시가       종가       고가       저가         거래량
일자
2021-02-15 00:00:00  83800.0  84200.0  84500.0  83300.0  23529706.0
2021-02-15 12:00:00  83800.0  84200.0  84500.0  83300.0  23529706.0
2021-02-16 00:00:00  84500.0  84900.0  86000.0  84200.0  20483100.0
2021-02-16 12:00:00  84500.0  84900.0  86000.0  84200.0  20483100.0
2021-02-17 00:00:00  83900.0  83200.0  84200.0  83000.0  18307735.0
...                      ...      ...      ...      ...         ...
2021-08-11 00:00:00  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-11 12:00:00  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-12 00:00:00  77100.0  77000.0  78200.0  76900.0  42365223.0
2021-08-12 12:00:00  77100.0  77000.0  78200.0  76900.0  42365223.0
2021-08-13 00:00:00  75800.0  74400.0  76000.0  74100.0  61270643.0

[359 rows x 5 columns]

In [45]:
temp.ffill()

                          시가       종가       고가       저가         거래량
일자
2021-02-15 00:00:00  83800.0  84200.0  84500.0  83300.0  23529706.0
2021-02-15 12:00:00  83800.0  84200.0  84500.0  83300.0  23529706.0
2021-02-16 00:00:00  84500.0  84900.0  86000.0  84200.0  20483100.0
2021-02-16 12:00:00  84500.0  84900.0  86000.0  84200.0  20483100.0
2021-02-17 00:00:00  83900.0  83200.0  84200.0  83000.0  18307735.0
...                      ...      ...      ...      ...         ...
2021-08-11 00:00:00  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-11 12:00:00  79600.0  78500.0  79800.0  78500.0  30241137.0
2021-08-12 00:00:00  77100.0  77000.0  78200.0  76900.0  42365223.0
2021-08-12 12:00:00  77100.0  77000.0  78200.0  76900.0  42365223.0
2021-08-13 00:00:00  75800.0  74400.0  76000.0  74100.0  61270643.0

[359 rows x 5 columns]

## 06) 수익률 계산하기

In [3]:
# 판다스의 데이터프레임은 수익률을 계산하는 pct_change 메서드를 제공합니다. 
# 참고로 pct_change에서 pct는 Percent의 약어입니다.

import pandas as pd

data = {'삼성전자': [52200, 52300, 52900, 52000, 51700], 
           'LG전자': [68200, 67800, 68800, 67500, 66300]}
df = pd.DataFrame(data=data)
df.pct_change()

       삼성전자      LG전자
0       NaN       NaN
1  0.001916 -0.005865
2  0.011472  0.014749
3 -0.017013 -0.018895
4 -0.005769 -0.017778

In [4]:
# 하루 전이 아니라 2일 전에 사서 오늘 팔았을 때의 수익률을 계산할 수도 있습니다. 
# 이 경우 2일 전 데이터와 당일 데이터를 비교해야 합니다. 
# 다음 코드는 shift 메서드를 사용해서 수익률을 직접 계산합니다.

df / df.shift(2) - 1

       삼성전자      LG전자
0       NaN       NaN
1       NaN       NaN
2  0.013410  0.008798
3 -0.005736 -0.004425
4 -0.022684 -0.036337

In [5]:
# pct_change 메서드의 periods 파라미터를 사용해서 2일 보유 수익률을 계산할 수 있습니다. 
# 검증된 메서드를 이용하면 의도치 않은 실수를 줄일 수 있어서 위와 같이 직접 구현하는 것보다는 
# pct_change 메서드를 사용하는 것이 좋습니다.

df.pct_change(periods=2)

       삼성전자      LG전자
0       NaN       NaN
1       NaN       NaN
2  0.013410  0.008798
3 -0.005736 -0.004425
4 -0.022684 -0.036337

In [9]:
# 삼성전자와 LG전자의 데이터로 보유 후 2일 뒤 매도하는 전략의 누적 수익률을 계산해 봅시다. 
# pct_change로 인접한 두 값의 비율(수익률)을 얻어와서 원금 1을 더한 시리즈에 cumprod 메서드로 
# 누적수익률을 계산합니다. cumprod 메서드는 시리즈에 대해서 누적곱을 리턴합니다.

yeild = df.pct_change(periods=2) + 1
yeild.cumprod()

       삼성전자      LG전자
0       NaN       NaN
1       NaN       NaN
2  1.013410  1.008798
3  1.007597  1.004334
4  0.984740  0.967839

In [11]:
# ss_ex_1.xlsx 엑셀 파일을 사용해서 각 분기의 시가 대비 일일 상승률(종가 기준)을 계산해 보겠습니다. 
# read_excel함수로 데이터를 읽어오며, usecols 파라미터로 일자, 시가, 종가 컬럼만을 선택합니다. 
# 날짜 컬럼을 데이터프레임의 인덱스로 지정하고 데이터는 일자를 기준으로 오름차순 정렬합니다.
# [ 그림 6.6.4 ]

import pandas as pd

df = pd.read_excel("data/ss_ex_1.xlsx", index_col=0, usecols=[0, 1, 4])
df.index = pd.to_datetime(df.index)
df = df.sort_index()
df.head()

C:\Users\USER\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                 종가       시가
일자
2021-02-15  84200.0  83800.0
2021-02-16  84900.0  84500.0
2021-02-17  83200.0  83900.0
2021-02-18  82100.0  83200.0
2021-02-19  82600.0  82300.0

In [12]:
# 코드를 실행한 결과 그림 6.6.4와 같은 127개의 시가와 종가를 확인할 수 있습니다. 
# 2021년 1분기의 시가는 2021-02-15의 83800입니다. 
# 1분기에 해당하는 1월부터 3월은 83800을 기준으로 상승률을 계산해야 합니다. 
# 뿐만 아니라 2분기, 3분기, 4분기 각각의 시가와 비교해서 종가가 얼마만큼 상승했는지를 계산해야 합니다.

# 시가 컬럼에 resample 메서드를 사용해서 분기(quarter) 별로 데이터를 샘플링합니다. 
# 이때 샘플링된 각 그룹의 첫 번째 값을 선택하도록 first 메서드를 적용합니다. 
# first 메서드를 호출한 결과는 시리즈인데 to_frame 메서드를 사용해서 데이터프레임으로 변경합니다.

# [ 그림 6.6.5 ]

df_quarter = df['시가'].resample('q').first().to_frame()
df_quarter

                 시가
일자
2021-03-31  83800.0
2021-06-30  82500.0
2021-09-30  80500.0

In [13]:
# Grouper 객체를 사용해서 분기별 데이터를 집계할 수도 있습니다.
df_quarter = df['시가'].groupby(pd.Grouper(freq='q')).first().to_frame()
df_quarter

                 시가
일자
2021-03-31  83800.0
2021-06-30  82500.0
2021-09-30  80500.0

In [20]:
# 수익률을 계산하기 위해 그림 6.6.4와 그림 6.6.5를 '분기별'로 연결해야 합니다. 
# 따라서 단순히 이어 붙이는 concat 보다는 merge를 사용해야 하며, 데이터프레임을 병합하기 위해 
# 기준이 되는 '분기' 컬럼을 각 데이터프레임에 추가해야 합니다.

df_quarter['quarter'] = df_quarter.index.quarter
df['quarter'] = df.index.quarter

In [31]:
# 다음 코드는 필요한 데이터만을 슬라이싱해서 두 개의 데이터프레임을 병합합니다. 
# merge 함수는 기본적으로 인덱스를 제외한 값만을 합치기 때문에 reset_index 메서드로 인덱스를 값으로 치환한 뒤에 
# merge합니다.

df_daily = df[['종가', 'quarter']].reset_index()
r = pd.merge(left=df_daily, right=df_quarter, on='quarter')

In [32]:
# 다음 코드는 수익률을 계산하고 그림 6.6.8과 같이 멀티 인덱스로 데이터를 정리합니다.

r['수익률'] = r['종가'] / r['시가']
r = r.set_index(['quarter','일자'])
r

                         종가       시가       수익률
quarter 일자
1       2021-02-15  84200.0  83800.0  1.004773
        2021-02-16  84900.0  83800.0  1.013126
        2021-02-17  83200.0  83800.0  0.992840
        2021-02-18  82100.0  83800.0  0.979714
        2021-02-19  82600.0  83800.0  0.985680
...                     ...      ...       ...
3       2021-08-09  81500.0  80500.0  1.012422
        2021-08-10  80200.0  80500.0  0.996273
        2021-08-11  78500.0  80500.0  0.975155
        2021-08-12  77000.0  80500.0  0.956522
        2021-08-13  74400.0  80500.0  0.924224

[127 rows x 3 columns]