In [103]:
import pandas as pd
import numpy as np
import random

In [106]:
df = pd.read_csv("./data/bank_churner.csv")
df = df.drop('cstno', axis=1)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8101 entries, 0 to 8100
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   is_churned             8101 non-null   int64
 1   age                    8101 non-null   int64
 2   sex                    7293 non-null   object
 3   dependent_num          8101 non-null   int64
 4   education              8101 non-null   object
 5   marital_stat           8101 non-null   object
 6   imcome_cat             6482 non-null   object
 7   card_type              8101 non-null   object
 8   mon_on_book            8101 non-null   int64
 9   tot_product_count      8101 non-null   int64
 10  months_inact_for_12m   8101 non-null   int64
 11  contact_cnt_for_12m    8101 non-null   int64
 12  credit_line            8101 non-null   float64
 13  tot_revol_balance      6580 non-null   float64
 14  mean_open_to_buy       8101 non-null   float64
 15  tot_amt_ratio_q4_q1    5666 non-null   float64
 16  tot_trans_amt_for_12m  6432 non-null   float64
 17  tot_trans_cnt_for_12m  4851 non-null   float64
 18  tot_cnt_ratio_q4_q1    6472 non-null   float64
 19  mean_util_pct          5575 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 1.2+ MB

In [109]:
df['imcome_cat'].value_counts()

Less than $40K    2277
$40K - $60K       1151
$80K - $120K       988
$60K - $80K        891
Unknown            702
$120K +            473
Name: imcome_cat, dtype: int64

In [114]:
df['imcome_cat']=df['imcome_cat'].replace({'Less than $40K':40000, '$40K - $60K':50000, '$60K - $80K':70000, '$80K - $120K':100000, '$120K +':120000, 'Unknown':63000})

In [115]:
df['imcome_cat'].value_counts()

40000.0     2277
50000.0     1151
100000.0     988
70000.0      891
63000.0      702
120000.0     473
Name: imcome_cat, dtype: int64

In [113]:
(40000*2277 + 50000*1151 + 70000*891 + 100000*988 + 120000*473) / (2277 + 1151 + 891 + 988 + 473)

63418.685121107264

In [102]:
from itertools import combinations

result_list = []
drop_target_columns = ['sex','imcome_cat', 'tot_amt_ratio_q4_q1', 'mean_util_pct', 'tot_trans_cnt_for_12m','age','mean_open_to_buy','tot_trans_amt_for_12m']
for j in range(1, len(drop_target_columns)+1):
    for i in combinations(drop_target_columns, j):
        result_list.append(list(i))


for drop_no, drop_column in enumerate(result_list):
    for group_no, groupby_column in enumerate(ml_churner_df.columns):
        if groupby_column == 'is_churned' or groupby_column in drop_column:
            continue
        print(groupby_column)

age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_cnt_ratio_q4_q1
mean_util_pct
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_amt_ratio_q4_q1
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_trans_amt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance

In [99]:
ml_churner_df.columns

Index(['is_churned', 'age', 'sex', 'dependent_num', 'education',
       'marital_stat', 'imcome_cat', 'card_type', 'mon_on_book',
       'tot_product_count', 'months_inact_for_12m', 'contact_cnt_for_12m',
       'credit_line', 'tot_revol_balance', 'mean_open_to_buy',
       'tot_amt_ratio_q4_q1', 'tot_trans_amt_for_12m', 'tot_trans_cnt_for_12m',
       'tot_cnt_ratio_q4_q1', 'mean_util_pct'],
      dtype='object')

In [101]:
for groupby_column in ml_churner_df.columns:
    if groupby_column == 'is_churned':
        continue
    print(groupby_column)

age
sex
dependent_num
education
marital_stat
imcome_cat
card_type
mon_on_book
tot_product_count
months_inact_for_12m
contact_cnt_for_12m
credit_line
tot_revol_balance
mean_open_to_buy
tot_amt_ratio_q4_q1
tot_trans_amt_for_12m
tot_trans_cnt_for_12m
tot_cnt_ratio_q4_q1
mean_util_pct

In [89]:
def tot_column_counts(df):
    ''' 
    '''
    data_counts = df.count()
    null_counts = df.isnull().sum()
    tot_counts_df = pd.concat([data_counts, null_counts], axis=1)
    tot_counts_df = tot_counts_df.rename(columns={0: 'data_counts', 1: 'null_counts'})
    tot_counts_df.insert(0,'tot_counts', tot_counts_df['data_counts'] + tot_counts_df['null_counts'])
    tot_counts_df['data_percents'] = tot_counts_df['data_counts'].values / tot_counts_df['tot_counts'].values
    tot_counts_df['null_percents'] = tot_counts_df['null_counts'].values / tot_counts_df['tot_counts'].values
    tot_counts_df = tot_counts_df.sort_values(by='null_percents', ascending=False)

    tot_counts_df = change_format(tot_counts_df, 'tot_counts', 'comma')
    tot_counts_df = change_format(tot_counts_df, 'data_counts','comma')
    tot_counts_df = change_format(tot_counts_df, 'null_counts','comma')
    tot_counts_df = change_format(tot_counts_df, 'data_percents', 'percent')
    tot_counts_df = change_format(tot_counts_df, 'null_percents', 'percent')

    tot_counts_df = tot_counts_df.reset_index()

    print(tot_counts_df.to_string(index=False))
    


def change_format(df, column, format):
    if format == 'comma':
        df[column] = df[column].apply(lambda x: f"{x:,}")
    elif format == 'percent':
        df[column] = df[column].apply(lambda x: f"{x:.2%}")
        
    return df

In [95]:
ml_churner_df = pd.read_csv("./data/bank_churner.csv")
ml_churner_df = ml_churner_df.drop('cstno', axis=1)

In [96]:
tot_column_counts(ml_churner_df)

                index tot_counts data_counts null_counts data_percents null_percents
tot_trans_cnt_for_12m      8,101       4,851       3,250        59.88%        40.12%
        mean_util_pct      8,101       5,575       2,526        68.82%        31.18%
  tot_amt_ratio_q4_q1      8,101       5,666       2,435        69.94%        30.06%
tot_trans_amt_for_12m      8,101       6,432       1,669        79.40%        20.60%
  tot_cnt_ratio_q4_q1      8,101       6,472       1,629        79.89%        20.11%
           imcome_cat      8,101       6,482       1,619        80.01%        19.99%
    tot_revol_balance      8,101       6,580       1,521        81.22%        18.78%
                  sex      8,101       7,293         808        90.03%         9.97%
  contact_cnt_for_12m      8,101       8,101           0       100.00%         0.00%
     mean_open_to_buy      8,101       8,101           0       100.00%         0.00%
          credit_line      8,101       8,101           0       100.00%         0.00%
           is_churned      8,101       8,101           0       100.00%         0.00%
                  age      8,101       8,101           0       100.00%         0.00%
    tot_product_count      8,101       8,101           0       100.00%         0.00%
          mon_on_book      8,101       8,101           0       100.00%         0.00%
            card_type      8,101       8,101           0       100.00%         0.00%
         marital_stat      8,101       8,101           0       100.00%         0.00%
            education      8,101       8,101           0       100.00%         0.00%
        dependent_num      8,101       8,101           0       100.00%         0.00%
 months_inact_for_12m      8,101       8,101           0       100.00%         0.00%

In [97]:
ml_churner_df = ml_churner_df.fillna(ml_churner_df.mean(numeric_only=True))

In [98]:
tot_column_counts(ml_churner_df)

                index tot_counts data_counts null_counts data_percents null_percents
           imcome_cat      8,101       6,482       1,619        80.01%        19.99%
                  sex      8,101       7,293         808        90.03%         9.97%
           is_churned      8,101       8,101           0       100.00%         0.00%
  contact_cnt_for_12m      8,101       8,101           0       100.00%         0.00%
  tot_cnt_ratio_q4_q1      8,101       8,101           0       100.00%         0.00%
tot_trans_cnt_for_12m      8,101       8,101           0       100.00%         0.00%
tot_trans_amt_for_12m      8,101       8,101           0       100.00%         0.00%
  tot_amt_ratio_q4_q1      8,101       8,101           0       100.00%         0.00%
     mean_open_to_buy      8,101       8,101           0       100.00%         0.00%
    tot_revol_balance      8,101       8,101           0       100.00%         0.00%
          credit_line      8,101       8,101           0       100.00%         0.00%
 months_inact_for_12m      8,101       8,101           0       100.00%         0.00%
                  age      8,101       8,101           0       100.00%         0.00%
    tot_product_count      8,101       8,101           0       100.00%         0.00%
          mon_on_book      8,101       8,101           0       100.00%         0.00%
            card_type      8,101       8,101           0       100.00%         0.00%
         marital_stat      8,101       8,101           0       100.00%         0.00%
            education      8,101       8,101           0       100.00%         0.00%
        dependent_num      8,101       8,101           0       100.00%         0.00%
        mean_util_pct      8,101       8,101           0       100.00%         0.00%

In [37]:
np.random.seed(10)
df = pd.DataFrame(np.random.randn(5, 3),
                  columns=['C1', 'C2', 'C3'])

## replacing some values with None
df.loc[0, 'C1'] = np.nan
df.loc[1, 'C1'] = np.nan
df.loc[1, 'C3'] = np.nan
df.loc[2, 'C2'] = np.nan
df.loc[3, 'C2'] = np.nan
df.loc[4, 'C3'] = np.nan


df

         C1        C2        C3
0       NaN  0.715279 -1.545400
1       NaN  0.621336       NaN
2  0.265512       NaN  0.004291
3 -0.174600       NaN  1.203037
4 -0.965066  1.028274       NaN

In [38]:
df1 = df.copy()
df1.fillna(df1.mean())

         C1        C2        C3
0 -0.291385  0.715279 -1.545400
1 -0.291385  0.621336 -0.112690
2  0.265512  0.788296  0.004291
3 -0.174600  0.788296  1.203037
4 -0.965066  1.028274 -0.112690

In [39]:
df2 = df.copy()
df2.where(pd.notnull(df2), df2.mean(), axis='columns')

         C1        C2        C3
0 -0.291385  0.715279 -1.545400
1 -0.291385  0.621336 -0.112690
2  0.265512  0.788296  0.004291
3 -0.174600  0.788296  1.203037
4 -0.965066  1.028274 -0.112690

In [42]:
df3 = df.copy()
df3['C1']=df3['C1'].fillna(0)
df3

         C1        C2        C3
0  0.000000  0.715279 -1.545400
1  0.000000  0.621336       NaN
2  0.265512       NaN  0.004291
3 -0.174600       NaN  1.203037
4 -0.965066  1.028274       NaN

In [70]:
# 
# ----
df31 = df.copy()
df31['C1']=df31['C1'].fillna(df31['C1'].mean())
df31

         C1        C2        C3
0 -0.291385  0.715279 -1.545400
1 -0.291385  0.621336       NaN
2  0.265512       NaN  0.004291
3 -0.174600       NaN  1.203037
4 -0.965066  1.028274       NaN

In [92]:
df4 = df.copy()
fill_df = df4.fillna(df4.mean())
fill_df

         C1        C2        C3
0 -0.291385  0.715279 -1.545400
1 -0.291385  0.621336 -0.112690
2  0.265512  0.788296  0.004291
3 -0.174600  0.788296  1.203037
4 -0.965066  1.028274 -0.112690

In [81]:
df5 = df.copy()
df5['gubun'] = pd.Series(['a','a','b','b','b'])
df5['char'] = pd.Series(['aa','aa','bb','bb','bb'])
df5

         C1        C2        C3 gubun char
0       NaN  0.715279 -1.545400     a   aa
1       NaN  0.621336       NaN     a   aa
2  0.265512       NaN  0.004291     b   bb
3 -0.174600       NaN  1.203037     b   bb
4 -0.965066  1.028274       NaN     b   bb

In [82]:
df5.groupby('gubun').mean()

             C1        C2        C3
gubun
a           NaN  0.668307 -1.545400
b     -0.291385  1.028274  0.603664

In [83]:
df5 = df5.groupby('gubun').apply(lambda x: x.fillna(x.mean(numeric_only=True)))
df5

               C1        C2        C3 gubun char
gubun
a     0       NaN  0.715279 -1.545400     a   aa
      1       NaN  0.621336 -1.545400     a   aa
b     2  0.265512  1.028274  0.004291     b   bb
      3 -0.174600  1.028274  1.203037     b   bb
      4 -0.965066  1.028274  0.603664     b   bb

In [84]:
df5 = df5.reset_index(drop=True)
df5

         C1        C2        C3 gubun char
0       NaN  0.715279 -1.545400     a   aa
1       NaN  0.621336 -1.545400     a   aa
2  0.265512  1.028274  0.004291     b   bb
3 -0.174600  1.028274  1.203037     b   bb
4 -0.965066  1.028274  0.603664     b   bb