# 03 판다스 시리즈

In [ ]:
## 01) 시리즈(Series) 소개

In [ ]:
# pandas 설치
!pip install pandas

##  02) 시리즈 생성

### 시리즈 생성

In [ ]:
import pandas as pd

data = [10,20,30]
s = pd.Series(data)
print(s)

In [ ]:
import pandas as pd
import numpy as np

data = np.arange(5)
s = pd.Series(data)
print(s)

In [ ]:
# 시리즈에는 수치형 데이터 뿐만아니라 문자열 데이터도 저장
data = ['시가', '고가']
s = pd.Series(data)
s

In [ ]:
s = pd.Series(['samsung', 80000])
s

## 03) 시리즈 인덱스

### 시리즈 인덱스

In [ ]:
import pandas as pd
data = [1000, 2000, 3000]
s = pd.Series(data)
print(s)
print(s.index)
print(s.index.to_list())

In [ ]:
# Series 인덱스 변경

data = [1000, 2000, 3000]
s = pd.Series(data)
print(s)
print(s.index)
print(s.index.to_list())

s.index = ['메로나','구구콘','하겐다즈']
print(s)

In [ ]:
data = [1000, 2000, 3000]
index = ['메로나','구구콘','하겐다즈']

s = pd.Series(data, index)
# s = pd.Series(data, index=index)
print(s)

In [ ]:
# reindex 메서드를 사용하면 인자로 전달한 새로운 값으로 맞춰 인덱스를 변경.
# 이때 기존에 인덱스는 기존값을 그대로 사용하고, 새로운 인덱스는 NaN 값을 채움.
# 
data = [1000, 2000, 3000]
index = ['메로나','구구콘','하겐다즈']
s = pd.Series(data=data, index=index)

s2 = s.reindex(['메로나','비비빅','구구콘']) # reindex
s2

In [ ]:
# fillna() 사용
print(s2.fillna(0)) # s2의 값을 변경시키지 않음
print(s2)

In [ ]:
# reindex 메서드를 사용할 때 fill_value 파라미터를 사용해서 한 번에 처리할 수도 있습니다.
s2 = s.reindex(['메로나','비비빅','구구콘'], fill_value = 0) # reindex
s2

In [ ]:
# 삼성전자 5일 종가
price = [42500, 42550, 41800, 42550, 42650]
date = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = pd.Series(price, date)
print(s)

In [ ]:
# 딕셔너리를 사용해서 시리즈를 한번에 만들기
data = {
    "2019-05-31" : 42500,
    "2019-05-30" : 42550,
    "2019-05-29" : 41800,
    "2019-05-28" : 42550,
    "2019-05-27" : 42650
}
s = pd.Series(data)
s

In [ ]:
# 시리즈 객체는 index와 values라는 속성을 통해 인덱스와 값을 각각 분리해서 얻어올 수 있습니다
print(s.index)
print(s.index.dtype)

print(s.values)
print(s.values.dtype)