## 06) 특정 범위 가져오기

In [1]:
import pandas as pd

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)

print(df.loc[["037730", "036360"]])
print(df.iloc[[0, 1]])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [21]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)

print(df)
df = df.loc[["037730", "036360"]]
df = df[['종목명', '현재가']]
print(df)

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [22]:
# 한번에 슬라이싱을 처리

print(df.loc[["037730", "036360"], ["종목명", "현재가"]])
print(df.iloc[[0, 1], [0, 1]])

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [29]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)

print(df)

print(df.loc[["037730", "036360"], ["종목명", "현재가"]])
print(df.loc[["037730", "036360"]])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

## 07) 데이터프레임 필터링

In [30]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
cond = df['현재가'] >= 1400
print(df.loc[cond])

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [35]:
cond = df['현재가'] >= 1400
print(df.loc[cond]["현재가"])
print(df.loc[cond, "현재가"])

037730    1510
036360    1790
Name: 현재가, dtype: int64
037730    1510
036360    1790
Name: 현재가, dtype: int64

In [36]:
df[cond]

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [37]:
df.loc[cond]['현재가']

037730    1510
036360    1790
Name: 현재가, dtype: int64

In [38]:
df.loc[cond, "현재가"]

037730    1510
036360    1790
Name: 현재가, dtype: int64

In [39]:
cond = (df['현재가'] >= 1400) & (df['현재가'] < 1700)
df[cond]

       종목명   현재가   등락률
037730  3R  1510  7.36

In [40]:
df[~cond]

          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

## 08) 컬럼 추가하기

In [42]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [43]:
s = pd.Series([1600,1600,1600], index=df.index)
df['목표가'] = s
df

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

In [45]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

df['목표가'] = 1600
df

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

In [46]:
# 데이터프레임의 컬럼에 저장된 시리즈 연산을 통해 '괴리율' 컬럼을 
df['괴리율'] = (df['목표가'] - df['현재가']) / df['현재가']
df

          종목명   현재가   등락률   목표가       괴리율
037730     3R  1510  7.36  1600  0.059603
036360  3SOFT  1790  1.65  1600 -0.106145
005760   ACTS  1185  1.28  1600  0.350211

In [48]:
(1510 * 0.059603) + 1510

1600.00053

## 09) 로우 추가하기

In [49]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [51]:
s = pd.Series(data=["LG전자", 60000, 3.84], index=df.columns)
df.loc["066570"] = s
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [52]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

df.loc['066570'] = ["LG전자", 60000, 3.84]
df

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [55]:
# append()를 이용한 로우 추가
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

s =pd.Series(data=["LG전자", 60000, 3.84], index=df.columns, name="066570")
new_df = df.append(s)
new_df

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

## 10) 컬럼/로우 삭제하기

In [56]:
# drop() 메서드 - axis=1 컬럼 삭제, axis=0은 로우 삭제

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)

df_new = df.drop("현재가", axis=1)
print(df)
print(df_new)

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
          종목명   등락률
037730     3R  7.36
036360  3SOFT  1.65
005760   ACTS  1.28

In [58]:
df_new = df.drop('037730', axis=0)
print(df)
print(df_new)

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28
          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [59]:
# 원본 데이터프레임에서 로우나 컬럼을 바로 삭제하고자 한다면 inplace 항목에 True 설정
df.drop("037730", axis=0, inplace=True)     # 원본 데이터프레임 변경
print(df)

          종목명   현재가   등락률
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [62]:
# 여러 개의 로우나 컬럼을 삭제
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)

df.drop(["037730", "005760"], axis=0, inplace=True)
print(df)

          종목명   현재가   등락률
036360  3SOFT  1790  1.65

## 11) 컬럼 레이블 변경

In [63]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
print(df.columns)
print(df.index)

Index(['종목명', '현재가', '등락률'], dtype='object')
Index(['037730', '036360', '005760'], dtype='object')

In [65]:
df.columns = ['name','close','fluctuation']
df.index.name = 'code'
df

         name  close  fluctuation
code
037730     3R   1510         7.36
036360  3SOFT   1790         1.65
005760   ACTS   1185         1.28

In [67]:
# rename() - 변경하고자 하는 컬럼에 {“변경 전 이름”: “변경 후 이름”}과 같은 딕셔너리를 메서드의 인자로 전달
#          - 컬럼명 중 일부만을 변경하고자 할 때 유용하게 사용

data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df.rename(columns={'종목명': 'name'}, inplace=True)
print(df)

         name   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [68]:
df.index.name = 'code'
df

         name   현재가   등락률
code
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

## 12) 데이터 타입 변경

In [69]:
data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)
print(df)

   03/02  03/03  03/04
0  1,000  1,100  1,510
1  1,410  1,420  1,790
2    850    900  1,185

In [82]:
data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)

def remove_comma(x):
    return int(x.replace(',',''))

df['03/02'] = df['03/02'].map(remove_comma)
df['03/03'] = df['03/03'].map(remove_comma)
df['03/04'] = df['03/04'].map(remove_comma)

df

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185

In [86]:
# Series - map()
# DataFrame - applymap()

data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)

def remove_comma(x):
    return int(x.replace(',',''))

df = df.applymap(remove_comma)
df

   03/02  03/03  03/04
0   1000   1100   1510
1   1410   1420   1790
2    850    900   1185

In [87]:
df['03/02']

0    1000
1    1410
2     850
Name: 03/02, dtype: int64

In [89]:
df.dtypes

03/02    int64
03/03    int64
03/04    int64
dtype: object

In [91]:
# 데이터 형변환
import numpy as np
import pandas as pd

def remove_comma(x):    
    return x.replace(",", "")
    
data = [
    ["1,000", "1,100", "1,510"],
    ["1,410", "1,420", "1,790"],
    ["850", "900", "1,185"],
]

columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)

df = df.applymap(remove_comma)

print(df.dtypes)
df = df.astype( {"03/02":np.int64, "03/03":np.int64, "03/04":np.int64} )
print(df.dtypes)

03/02    object
03/03    object
03/04    object
dtype: object
03/02    int64
03/03    int64
03/04    int64
dtype: object

## 13) 컬럼의 문자열 다루기

In [98]:
import pandas as pd
import numpy as np

data = [
    {"cd":"A060310", "nm":"3S", "close":"2,920"},
    {"cd":"A095570", "nm":"AJ네트웍스", "close":"6,250"},
    {"cd":"A006840", "nm":"AK홀딩스", "close":"29,700"},
    {"cd":"A054620", "nm":"APS홀딩스", "close":"19,400"}
]
df = pd.DataFrame(data=data)
df

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

In [106]:
# 'cd' 컬럼의 종목코드에서 A를 제거
# str은 시리즈에 저장된 문자열 컬럼에만 사용

df['cd'] = df['cd'].str[1:]
df['close'] = df['close'].str.replace(',','').astype(np.int64)
df

       cd      nm  close
0  060310      3S   2920
1  095570  AJ네트웍스   6250
2  006840   AK홀딩스  29700
3  054620  APS홀딩스  19400

0     2920
1     6250
2    29700
3    19400
Name: close, dtype: int64